@import "../../styles/mixin";

.back-header {
  border-bottom: 1px solid #f6f6f6;
  width: 91.5%;
  background: #fff;
  padding: 4%;
  position: relative;

  .back-icon {
    position: absolute;
    top: 32px;
    width: 44px;
    height: 44px;
  }

  .head-word {
    font-size: 32px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }
}
