.goods-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  .goods-list-item {
    width: 100%;
    margin-right: 11px;
    margin: 10px 0;
    display: flex;


    .good-img {
      width: 140px;
      // height: 140px;
      cursor: pointer;
      // img {
      //   width: 140px;
      //   height: 140px;
      // }
    }

    .list-txt-block {
      width: 370px;
      min-height: 80Px;
      padding: 10px 0 10px 16px;
      display: flex;
      flex-direction: column;
      line-height: 1;
      border-bottom: solid 1Px #EBEBEB;

      .list-item-title {
        width: 370px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .item-title-txt {
          font-size: 14Px;
          color: #333;
          width: 332px;
          white-space: nowrap;
          line-height: 1.5;
        }
      }

      .list-item-brief {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 12px 0 20px;

        .item-brief-txt {
          width: 344px;
          font-size: 12Px;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 12Px;
        }
      }

      .list-item-tag {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .item-tag-txt {
          color: #00A4FF;
          font-size: 12Px;
          background-color: #fff;
          border: 1Px solid #00A4FF;
          border-radius: 4Px;
          margin: 0 8px 0 0;
          padding: 2Px;
        }

        .at-tag {
          font-size: 12Px;
          color: #00A4FF;
          margin-right: 5px;
          margin: 0 5px 5px 0;
          border-radius: 0;
          border: 1px solid #00A4FF;
        }
      }

      .list-item-price {
        font-size: 12Px;
        color: #999;
        padding: 10px 0;

        .price {
          display: inline;
          color: #FF1926;
          font-size: 16Px;
          padding-right: 4Px;
        }
      }

    }
  }
}
