.agreement{
  padding: 30px;
  font-size: 14Px;
  .title{
    font-size: 20Px;
    text-align: center;
  }
  .paragraph{
    text-indent: 12Px;
  }
  .body{
    font-size: 12Px;
    color: #666;
    margin-left: 3%;
  }
}