.orderGoods {
  font-size: 14Px;
  // margin-top: 20px;
  height: 100%;

  .goods {
    background: #fff;
    margin-top: 20px;
    .delayTip{
      background-color: #FF8383;
      color: #F8E71C;
      padding: 0 30px;
      height: 60px;
      display: flex;
      font-size: 24px;
      line-height: 60px;
      justify-content: space-between;
      .at-icon{
        font-size: 32px;
      }
      .warnImg{
        margin-top: -4px;
        display: inline-block;
        width: 40px;
        height: 38px;
        line-height: 0px;
        vertical-align: text-top;
        margin-right: 10px;
      }
    }

    .goods_top {
      padding: 0 30px;
      height: 88px;
      font-size: 12Px;
      border-bottom: 1px solid #EBEBEB;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .rightText {
        color: #00A4FF;
      }
    }

    .goods_center {
      padding: 30px 30px;
      border-bottom: 1px solid #EBEBEB;
      display: flex;

      .imgwrap {
        width: 140px;
        height: 140px;
        margin-right: 20px;

        .imgStyle {
          width: 140px;
          height: 140px;
        }
      }

      .goods_center_right {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .goods_center_right_goodsname {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .goods_center_right_brief {
          margin-top: 4%;
          color: #9B9B9B;
          font-size: 12Px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .goods_center_right_info {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .goods_center_right_pric {
            color: #999;

            .goods_center_right_pric_money {
              font-size: 16Px;
              color: #FF1926;
            }
          }
        }
      }
    }

    .goods_footer {
      height: 100px;
      padding: 0 30px;
      font-size: 12Px;
      color: #9b9b9b;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .at-button {
        margin: 8px;
      }

      .payChannel,
      .pay_btn {
        width: 50%;

        .at-button {
          display: inline-block;
          padding: 0px 0.16rem;
          width: auto;
          min-width: 1rem;
          max-width: 7.1rem;
          height: 0.6rem;
          font-size: 0.28rem;
          line-height: 0.58rem;
        }
      }

      .pay_btn {
        text-align: right;
        line-height: 1;
      }
    }
  }

  .footer_text {
    position: relative;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #666;
  }

  .at-modal__content {
    min-height: initial;
    text-align: center;
  }
}
