@import "../../../styles/mixin.scss";

.item-gallery {
  position: relative;
  background: $white;
}

.item-gallery__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 662px;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-img {
      width: 750px;
      height: 662px;
    }

    &-video {
      width: 750px;
      height: 662px;
    }
  }

  .taro-video {
    height:662px;
  }
}

.item-gallery__indicator {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 30px;
  padding: 0 10px;
  background: rgba(102,102,102,0.50);
  border-radius: 50px;
  opacity:0.6;

  &-txt {
    color: $white;
    font-size: 24px;
  }
}

