.personas {
  font-size: 14PX;
  background: #fff;
  margin-top: 20px;
  box-sizing: border-box;

  .at-input__title {
    white-space: nowrap;
    font-size: 14Px;
  }

  .at-input {
    margin-right: 30px;
  }

  .at-input::after {
    border: 0 solid #EBEBEB;
    border-bottom-width: 2PX;
  }

  .at-input input {
    font-size: 14Px;
    text-align: right;
    // margin: 0 30px;
    padding-right: 0;
  }
}
