@import "../../../styles/mixin";

.item-footer {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #fff;
  // @include border(top, 1px, solid, $border-color);
}

.item-footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  // @include border(right, 1px, solid, $border-color);

  .item-footer__nav-img {
    width: 56px;
    height: 56px;
  }

  &-txt {
    color: #999;
    font-size: 10Px;
  }
}

.item-footer__buy {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // @include border(right, 1px, solid, $border-color);
  background-color: #00A4FF;

  &-txt {
    color: #fff;
    font-size: 16Px;
    line-height: 28px;
  }
}

.item-footer__disabled {
  background-color: #ccc;
}

.pos {
  position: absolute;
  left: 27%;
  top: 25%;
  opacity: 0;
  z-index: 5;
}
