.seleceAddress {
  .seleceAddress_head {
    display: flex;
    justify-content: space-between;
    padding: 3Px 0 6Px 0;

    .seleceAddress_calcel {
      color: #888;
    }

    .seleceAddress_ok {
      color: #00a4ff
    }
  }

}
