
.selection {
  display: flex;
  justify-content: space-between;
  height: 376px;
  padding-bottom: 20px;

  .content-left {
    width: 332px;

    .taro-img {
      height: 376px;
      border-radius:4Px;
    }
  }

  .content-right {
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content-right-top {
      height: 178px;
      margin-bottom: 20px;
    }
    .content-right-bottom {
      height: 178px;
    }
    .taro-img {
      height: 178px;
      border-radius:4Px;
    }
  }
}
